.App {
  text-align: center;
  
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.todoappcontiner{
  width: 450px;
  height: 600px;
  margin-top: 200px;
  background-color:#5B21B6;  
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.4));
}
.todoscontiner{
  margin-top: 30px;
  width: 75%;
  overflow: auto;
  margin-bottom: 30px;
  
}
.app-name{

  color:#CCE4F7;
}




