.cardcontiner{
    height: 40px;
    background-color:#FEFEFE;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 5px;
    
}
.cardleftside{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}
.cardrightside{
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.carddeletebutton{
    background-color: #b03434;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold ;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    
  }
  .todo-text{
    color: #030303;
    font-size: 16px;
    margin-left: 10px;
  }
  
  